@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'inconsolata';
    src: url('./component/inconsolata/static/Inconsolata-Regular.ttf');
}

html {
    background-color: rgb(4, 4, 13);
}